@{
	ViewBag.Title = "Teknisyen Atama Sayfası";
}
@model List<TechnicianAssignViewModel>

<div class="container-fluid ss_service_one ss_section_sec_bg spacer_top spacer_bottom ss_two">
	<form asp-action="TechnicianAssign" asp-controller="Operator">
		<div class="row">
			<div class="col-lg-12 col-md-6 col-sm-6">
                <div class="ss_two_sec wow fadeIn" data-wow-delay="0.1s"
                     style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">

                    @if (Model.Count > 0)
                    {
                        for (int i = 0; i < Model.Count; i++)
                        {
                            <input type="radio" id="radioId" name="Teknisyen" value="@Model[i].HasAssign" asp-for="@Model[i].HasAssign">
                            <label for="radioId">@Model[i].TechnicianName</label><br>

                            <input type="hidden" asp-for="@Model[i].TechnicianId" />
                            <input type="hidden" asp-for="@Model[i].TechnicianName" />
                            <input type="hidden" asp-for="@Model[i].FailureId" />
                        }
                        <button class="btn btn-block btn-info btn-sm">Teknisyeni Ata</button>
                    }
                    else
                    {
                        <h2>Henüz Teknisyen Atanmadı</h2>
                    }
                </div>
			</div>
		</div>
	</form>
</div>